{% extends 'base.html.twig' %}

{% block title %}{{ 'tag_list' |trans }}{% endblock %}

{% block body %}

    <button style="margin-left: 46%; margin-top: 8%">
        <a href="{{ path('tags_new') }}">{{ 'create_new_tag' | trans }}</a>
    </button>
    <table style="margin-top: 2%; margin-bottom: 3%" class="table">
        <thead>
            <tr>
                <th>{{ 'name' | trans }}</th>
                <th>{{ 'actions_label'| trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>
                    <button class="readButton">
                        <a href="{{ path('tags_show', {'id': tag.id}) }}">{{ 'see_more_button' | trans }}</a>
                    </button>
                    <button class="editButton">
                        <a href="{{ path('tags_edit', {'id': tag.id}) }}">{{ 'edit_button' | trans }}</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'no_records' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
