{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block body %}

    <div style="margin-left: 45%; margin-top: 8%">
        <h3 style="color: purple; margin-left: 0.5%">{{ tag.name }}</h3>
        <button style="margin-bottom: 1%">
            <a href="{{ path('tags_edit', {'id': tag.id}) }}">{{ 'edit_button' | trans }}</a>
        </button>
        <div style="margin-left: 1%">
            {{ include('tags/_delete_form.html.twig') }}
        </div>
    </div>
    <table style="margin-top: 1%;" class="table">
        <thead>
        <tr>
            <th>{{ 'created_label'|trans }}</th>
            <th>{{ 'title_label'|trans }}</th>
            <th>{{ 'author_label'|trans }}</th>
            <th>{{ 'category_label'|trans }}</th>
            <th>{{ 'actions_label'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.created ? article.created|date('d.m.Y H:i') : '' }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.getUsers().getEmail() }}</td>
                <td>{{ article.getCategories().getName() }}</td>
                <td>
                    <button class="readButton"><a href="{{ path('articles_show', {'id': article.id}) }}">{{ 'see_more_button' | trans }}</a></button>
                    {% if app.user %}
                        <button class="editButton"><a href="{{ path('articles_edit_1', {'id': article.id}) }}">{{ 'edit_button' | trans }}</a></button>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Brak artykułów</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
