{{ form_start(form) }}
<div style="margin-left: 44%">
    {{ form_label(form, 'Nazwa') }}
    {{ form_widget(form.name) }}
</div>
    <button style="margin-top: 2%; margin-left: 50%" class="btn">{{ button_label|default('DODAJ') }}</button>
{{ form_end(form) }}
