{% set error_replace = {'<ul>': '', '</ul>': '', '<li>': '<p>', '</li>': '</p>', '{{': '<b>', '}}': '</b>'} %}

{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
<style>
    .noOutline{
        outline: none;
    }
    .form_error{
        margin-left: 48%;
    }
</style>
<div style="margin-left: 44%">
    {{ form_label(form, 'Nazwa') }}
    {{ form_widget(form.name, { 'attr' : {
        'class' : 'noOutline'
    }}) }}
</div>
<div class="form_error">
    {{ form_errors(form.name) | replace(error_replace) | raw }}
</div>
    <button style="margin-top: 2%; margin-left: 50%" class="btn">{{ button_label|default('DODAJ') }}</button>
{{ form_end(form) }}