{% set error_replace = {'<ul>': '', '</ul>': '', '<li>': '<p>', '</li>': '</p>', '{{': '<b>', '}}': '</b>'} %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<style>
    .choice{
        border: 1px solid white;
        color: white;
        background-color: black;
        margin-top: 1%;
        padding: 1%;
        border-radius: 20px;
        outline: none;
    }
    .noOutline{
        outline: none;
    }
    .tag_label{
        margin-bottom: 1%;
        margin-top: 1%;
    }
    .form_error{
        margin-left: 5%;
    }
</style>
<div style="margin-left: 5%">
    {{ form_label(form.title, 'Tytuł') }}
</div>
<div style="margin-left: 5%">
    {{ form_widget(form.title, { 'attr' : {
        'class' : 'noOutline'
    }}) }}
</div>
<div class="form_error">
    {{ form_errors(form.title)  | replace(error_replace) | raw }}
</div>
<div style="margin-left: 5%; margin-top: 1%">
    {{ form_label(form.mainText, 'Tekst artykułu') }}
</div>
<div style="margin-left: 5%; margin-bottom: -2%">
    {{ form_widget(form.mainText, {
        'attr': {
        'rows' : '15',
        'cols' : '100',
        'class' : 'noOutline'
    }}) }}
</div>
<div class="form_error">
    {{ form_errors(form.mainText)  | replace(error_replace) | raw }}
</div>
<div style="margin-left: 5%; margin-top: 1%">
    {{ form_label(form.categories, 'Wybierz kategorię:') }}
</div>
<div style="margin-left: 5%;">
    {{ form_widget(form.categories, { 'attr' : {
        'class' : 'choice'
    }}) }}
</div>

<div style="margin-left: 5%">
    <div class="tag_label">
        {{ form_label(form.tags, 'Dodaj tag:') }}
    </div>
    <div class="tag_choice">
        {{ form_widget(form.tags, { 'attr' : {
            'class' : 'choice'
        }}) }}
    </div>
</div>
    <button style="margin-left: 5%;  margin-top: 1%; margin-bottom: 0.3%" class="btn">{{ 'save_button' | trans }}</button>
{{ form_end(form) }}
