{% extends 'base.html.twig' %}

{% block title %}Witaj na moim blogu!{% endblock %}

{% block body %}
        <div style="margin-top:8%; margin-bottom: -6%; text-align: center; display: flex;justify-content: center;z-index: 99">
        {% for category in categories %}
                <a style="text-decoration: none; font-size:20px; color: purple;display:block" href="{{ path('articles_by_category', {'categoryId':category.id}) }}">{{ category.name }} * </a>
        {% endfor %}
        </div>
    {% if app.user %}
    <button style="margin: 8% 0 -20% 45%;"><a href="{{ path('categories_index') }}">EDYTUJ KATEGORIE</a></button>
    <button style="margin: 2% 0 -20% 44%;"><a href="{{ path('articles_new') }}">UTWÓRZ NOWY ARTYKUŁ</a></button>
    {% endif %}
    {% if app.user %}
    <table style="margin-top: 1%;" class="table">
    {% else %}
    <table style="margin-top: 5%;" class="table">
     {% endif %}
        <thead>
            <tr>
                <th>UTWORZONO</th>
                <th>TYTUŁ</th>
                <th>AUTOR</th>
                <th>KATEGORIA</th>
                <th>AKCJE</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.created ? article.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.getUsers().getEmail() }}</td>
                <td>{{ article.getCategories().getName() }}</td>
                <td>
                   <button class="readButton"><a href="{{ path('articles_show', {'id': article.id}) }}">ZOBACZ</a></button>
                    {% if app.user %}
                   <button class="editButton"><a href="{{ path('articles_edit', {'id': article.id}) }}">EDYTUJ</a></button>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Brak artykułów</td>
            </tr>
        {% endfor %}
    </table>
    </tbody>
        <div class="nav text-center">
            <style>
                .pagination {
                    list-style-type: none;
                    display: flex;
                    width: 100%;
                    justify-content: center;
                }

                .pagination .page-item {
                    display: block;
                }

                .pagination .page-item .page-link {
                    display: block;
                    width: 100%;
                    background-color: #fff;
                    color: #000;
                    padding: 4px 8px;
                    text-align: center;
                }

                .pagination .page-item.active .page-link {
                    background-color: #1b9448;
                }

                .pagination .page-item.disabled .page-link {
                    background-color: #666;
                }
            </style>
            {{ knp_pagination_render(articles) }}
        </div>
{% endblock %}
