{% extends 'base.html.twig' %}

{% block title %}Witaj na moim blogu!{% endblock %}

{% block body %}
        <div style="margin-top:8%; margin-bottom: 4%; text-align: center; display: flex; justify-content: center; z-index: 99">
        {% for category in categories %}
                <a style="text-decoration: none; padding-right: 2%; font-size:20px; color: purple; display:block" href="{{ path('articles_by_category', {'categoryId':category.id}) }}">{{ category.name }}  </a>
        {% endfor %}
        </div>
    {% if app.user %}
    <button style="margin: 0 0 0 33%;"><a href="{{ path('categories_index') }}">EDYTUJ KATEGORIE</a></button>
    <button><a href="{{ path('articles_new') }}">UTWÓRZ NOWY ARTYKUŁ</a></button>
    <button><a href="{{ path('tags_index') }}">EDYTUJ TAGI</a></button>
    {% endif %}
    <table style="margin-top: 1%;" class="table">
        <thead>
            <tr>
                <th>UTWORZONO</th>
                <th>TYTUŁ</th>
                <th>AUTOR</th>
                <th>KATEGORIA</th>
                <th>AKCJE</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.created ? article.created|date('d.m.Y H:i') : '' }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.getUsers().getEmail() }}</td>
                <td>{{ article.getCategories().getName() }}</td>
                <td>
                   <button class="readButton"><a href="{{ path('articles_show', {'id': article.id}) }}">ZOBACZ</a></button>
                    {% if app.user %}
                   <button class="editButton"><a href="{{ path('articles_edit_1', {'id': article.id}) }}">EDYTUJ</a></button>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Brak artykułów</td>
            </tr>
        {% endfor %}
    </table>
        <div class="nav text-center">
            <style>
                .pagination {
                    list-style-type: none;
                    display: flex;
                    margin-left: 10%;
                    margin-bottom: 3%;
                    justify-content: center;
                    width: 80%;
                }

                .pagination .page-item {
                    display: block;
                }

                .pagination .page-item .page-link {
                    display: block;
                    width: 100%;
                    color: white;
                    text-decoration: none;
                    padding: 4px 8px;
                    text-align: center;
                    margin-bottom: 2%;
                }

                .pagination .page-item.active .page-link {
                    color: purple;
                }

                .pagination .page-item.disabled .page-link {
                    display: none;
                }
            </style>
            {{ knp_pagination_render(articles) }}
        </div>
{% endblock %}
