{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div id="artykuł">
        <h1>{{ article.title }}</h1>
        <p>{{ article.created ? article.created|date('Y-m-d H:i:s') : '' }} Admin</p>
        <p>{{ article.id }}</p>
        <p>{{ article.mainText }}</p>
    </div>
    {% if app.user %}
    <div style="display: block; margin-left: 40%;">
        <button><a href="{{ path('articles_index') }}">POWRÓT</a></button>
        <button><a href="{{ path('articles_edit', {'id': article.id}) }}">EDYTUJ</a></button>
        {{ include('articles/_delete_form.html.twig') }}
    </div>
    {% endif %}
    <div id="comments">
        <p style="color: purple; font-size: 20px">Komentarze</p>
        {% if comments is defined %}
            {% for comment in comments %}
                <div id="singlecomment">
                    <h3>{{ comment.authorUsername }}</h3>
                    <p>{{ comment.created|date('Y/m/d h:i') }}</p>
                    <p>{{ comment.mainText }}</p><br>
                    {% if app.user %}
                        <button class="deleteButton">USUŃ</button>
                    {% endif %}
                </div>

            {% endfor %}
        {% endif %}
    </div>


{% endblock %}
