{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div id="artykuł">
        <h1>{{ article.title }}</h1>
        <p>{{ article.created ? article.created|date('Y-m-d H:i:s') : '' }} Admin</p>
        <p>{{ article.id }}</p>
        <p>{{ article.mainText }}</p>
    </div>
    {% if app.user %}
    <div style="display: block; margin-left: 40%;">
        <button><a href="{{ path('articles_index') }}">POWRÓT</a></button>
        <button><a href="{{ path('articles_edit', {'id': article.id}) }}">EDYTUJ</a></button>
        {{ include('articles/_delete_form.html.twig') }}
    </div>
    {% endif %}
    <div id="comments">
        <h3 style="color: purple; font-size: 20px; margin-left: 44%">Komentarze</h3>
            {% for comment in article.getComments() %}
                <div style="margin-left: 15%; margin-right: 15%" id="singlecomment">
                    <h3>{{ comment.authorUsername }}</h3>
                    <p>{{ comment.created|date('Y/m/d h:i') }}</p>
                    <p>{{ comment.mainText }}</p><br>
                    {% if app.user %}
                        {{ include('comments/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            {% endfor %}
    </div>
    {{ include('/comments/_form.html.twig') }}

{% endblock %}
