<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"> {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% if app.user %}
    <p id="login">{{ 'welcome_admin'|trans }} <a href="{{ path('users_index') }}">{{ 'edit_data'|trans }}</a><a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a></p>
{% else %}
    <p style="color: purple" id="login"><a href="{{ path('app_login') }}">{{ 'login'|trans }}</a></p>
{% endif %}
<div id="top">
    <h1 style="font-size: 300%">blog</h1>
    <ul id="nav">
        <li><a href="{{ path('index') }}">{{ 'homepage'|trans }}</a></li>
        <li><a href="{{ path('about') }}">{{ 'about'|trans }}</a></li>
        <li><a href="{{ path('contact') }}">{{ 'contact'|trans }}</a></li>
    </ul>
</div>
{% block body %}{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>