{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AuthorUsername</th>
                <th>AuthorEmail</th>
                <th>MainText</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.authorUsername }}</td>
                <td>{{ comment.authorEmail }}</td>
                <td>{{ comment.mainText }}</td>
                <td>{{ comment.created ? comment.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('comments_show', {'id': comment.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
