{{ form_start(form) }}
<style>
    .form_group{
        margin-left: 45%;
        margin-bottom: 2%;
    }
    .formAbout{
        margin-left: 25%;
        margin-bottom: 2%;
    }
    .formAboutLabel{
        margin-left: 25%;
        margin-top: 3%;
    }
    .formContactLabel{
        margin-left: 25%;
    }
    .formContact{
        margin-left: 25%;
        margin-bottom: 2%;
    }
    .form_password{
        margin-left: 45%;
    }
     .noOutline{
         outline: none;
     }
</style>
<h3 style="margin-top: 8%; color: purple; margin-left: 47%">Edytuj dane</h3>
<div class="form_group">
    <div class="form_label">
        {{ form_label(form.email) }}
    </div>
    <div class="form_wigdet">
        {{ form_widget(form.email, {
            'value' : email,
            'attr' : {
                'class' : 'noOutline'
            }
        }) }}
    </div>
    <div class="form_error">
        {{ form_errors(form.email) }}
    </div>
</div>
<div class="form_password">
    {{ form_label(form.password, 'Nowe hasło') }}
    {{ form_widget(form.password, { 'attr' : {
        'class' : 'noOutline'
    }}) }}
</div>
<div class="formAboutLabel">
    {{ form_label(form.about, 'O mnie') }}
</div>
<div class="formAbout">
    {{ form_widget(form.about, { 'attr' : {
        'class' : 'noOutline',
        'rows' : '10',
        'cols' : '100'
    }
    }) }}
</div>

<div class="formContactLabel">
    {{ form_label(form.contact, 'Kontakt') }}
</div>
<div class="formContact">
    {{ form_widget(form.contact, { 'attr' : {
        'class' : 'noOutline',
        'rows' : '10',
        'cols' : '100'
    }
    }) }}
</div>
    <button style="margin-left: 48.5%; margin-top: 2%" class="btn">{{ button_label|default('ZAPISZ') }}</button>
{{ form_end(form) }}
