{% extends 'base.html.twig' %}

{% block title %}Użytkownik{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>EMAIL</th>
                <th>AKCJE</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
{#                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
{#                <td>{{ user.password }}</td>#}
                <td>
                    <button class="readButton">
                        <a href="{{ path('users_show', {'id': user.id}) }}">ZOBACZ</a>
                    </button>
                    <button class="editButton">
                        <a href="{{ path('users_edit', {'id': user.id}) }}">EDYTUJ DANE</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
